{% load static %}

<div class="row times my-5 py-5 d-flex mx-2" style="background-color: #F0F8FF; z-index: auto;" align="center">
    <div class="col-sm-4">
        <div class="card ms-5 text-white" style="width: 22rem;">
            <img src="{% static 'media/parigi.jpeg' %}" class="card-img" height="210" width="600">
            <div class="card-img-overlay">
                <h3 class="card-title mb-0">Esplora Parigi!</h3>
                <p class="card-text"><b><a href="#" class="text-white">Scopri di più...</a></b></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white" style="width: 22rem;">
            <img src="{% static 'media/sicilia.jpeg' %}" class="card-img" width="600" height="210">
            <div class="card-img-overlay">
                <h3 class="card-title mb-0">Goditi la Sicilia!</h3>
                <p class="card-text "><b><a href="#" class="text-white">Scopri di più...</a></b></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white " style="width: 22rem;">
            <img src="{% static 'media/londra.jpeg' %}" class="card-img" width="600" height="210">
            <div class="card-img-overlay">
                <h3 class="card-title mb-0">Scopri Londra!</h3>
                <p class="card-text"><b><a href="#" class="text-white">Scopri di più...</a></b></p>
            </div>
        </div>
    </div>
</div>

