{% load static %}
<a name="chisiamo">
    <div class="container my-5 text-center" style="z-index: auto;">
        <h3 style="color: deepskyblue;" class="my-4">ABOUT</h3>
        <p style="color: grey;" class="mx-5 times">STARVATO AIRLINES è una società partecipata al 100% dal
            Ministero dell’Economia e delle Finanze per l’esercizio
            dell’attività nel settore del trasporto aereo. La società è attiva da novembre del 2020.

            L’obiettivo di STARVATO AIRLINES è quello di creare un vettore aereo efficiente, innovativo, che
            diventi il punto
            di riferimento nel garantire all’Italia una connettività di qualità sia con destinazioni
            internazionali,
            così da incentivare il turismo e il commercio con l’estero, sia all’interno del Paese, sfruttando
            anche la
            mobilità integrata. STARVATO AIRLINES mette al centro della propria strategia il miglior servizio ai
            clienti
            (attraverso una forte digitalizzazione di processi che assicurino una esperienza best in class e
            servizi
            personalizzati), coniugato alla sostenibilità, declinata nel suo aspetto ambientale (nuovi aerei
            green e
            tecnologicamente avanzati, utilizzo di carburanti sostenibili), sociale (uguaglianza e inclusione
            per una
            compagnia gender less) e di governance (integrazione della sostenibilità nelle strategie e nei
            processi
            interni). </p>
    </div>
</a>