
{% load static %}

<div class="header py-0">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class=" d-flex navbar-brand text-decoration-none  align-items-middle">
                <img src="{% static 'media/logoexmp.jpeg' %}" width="140" height="90" class="">
                <span class="" id="logo"> Starvato Airlines</span>
            </a>
            <ul class="nav nav-tabs times" role="tablist" style="border-bottom: none;">
                <li class="nav-item mx-4" role="presentation"><a href="#prenota"
                        class="nav-link link-secondary active" data-bs-toggle="tab" data-bs-target="#prenota"
                        role="tab">Prenota</a></li>
                <li class="nav-item mx-4" role="presentation"><a href="#imieivoli" class="nav-link link-secondary"
                        role="tab">I Miei Voli</a></li>
                <li class="nav-item mx-4" role="presentation"><a href="{% url 'login' %}" class="nav-link link-secondary"
                    role="tab">Login</a></li>
                <li class="nav-item mx-4" role="presentation"><a href=#chisiamo class="nav-link link-secondary"
                         role=" tab">About</a></li>
            </ul>
        </div>
    </nav>
    <!--<div class="tab-content ">
        <div class="tab-pane fade" id="imieivoli" role="tabpanel"><br></div>
        <div class="tab-pane fade" id="infovoli" role="tabpanel"><br></div>
    </div>-->
</div>