{% load static %}

<a name='imieivoli'>
    <div class="container my-5 times">
        <div class="row m-3">
            <h3 style="color: deepskyblue;" class="my-4">I MIEI VOLI</h3>
        </div>
        <form method="post" action="{% url 'cerca_prenotazione' %}">
            {% csrf_token %}

            <div class="row m-3">
                <div class="col-sm-4">
                    <label for="codice" class="form-label">Code Prenotazine</label>
                    <input type="text" name="codice" class="form-control">
                </div>
            </div>
            <div class="row m-3 ">
                <div class="col-sm-4">
                    <button type="submit" value="Cerca" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

    </div>
</a>