{% load static %}

<a name='imieivoli'>
    <div class="container my-5 times" align="center" style="z-index: auto;">
        <div class="row mt-3">
            <h3 style="color: deepskyblue;" class="my-4">I MIEI VOLI</h3>
        </div>
        <form method="post" action="{% url 'cerca_prenotazione' %}">
            {% csrf_token %}

            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="text" name="codice" class="form-control me-3" placeholder="Codice Prenotazione" style="width: 350px;">
                    <button type="submit" value="Cerca" class="btn btn-secondary mt-3">Search</button>
                    
                </div>
            </div>
        </form>

    </div>
</a>