{% load static %}

<div class="tab-content times">
    <div class="tab-pane fade show active" id="prenota" role="tabpanel">
        <div class="display-middle" style="width:50%; height: 27%;">
            <form class="m-5" method="post" action="{% url 'voli' %}" autocomplete="off">
                {% csrf_token %}
                <div class="container">
                    <div class="row m-3">
                        <div class="col-sm-4">
                            <label for="partenze" class="form-label">Da</label>
                            <input class="form-control" list="datalistOptionsPartenze" name="partenze" id="partenze"
                                placeholder="Partenza">
                            <datalist id="datalistOptionsPartenze">
                                {% for aeroporto in aeroporti %}
                                    <option value="{{aeroporto.city}}">                        
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-sm-4">
                            <label for="arrivi" class="form-label">A</label>
                            <input class="form-control" list="datalistOptionsArrivi" name="arrivi" id="arrivi"
                                placeholder="Arrivo">
                            <datalist id="datalistOptionsArrivi">
                                {% for aeroporto in aeroporti %}
                                    <option value="{{aeroporto.city}}">     
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label" for="data">Data</label>
                            <input class="form-control" id="data" name="data" type="date">
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-sm-4">
                            <label for="classe" class="form-label">Classe</label>
                            <select class="form-select" id="classe">
                                <option>Economy</option>
                                <option>Prima Classe</option>
                                <option>Seconda classe</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="adulti" class="form-label">Adulti</label>
                            <input type="number" id="adulti" name="adulti" class="form-control" placeholder="Adulti">
                        </div>
                        <div class="col-sm-3">
                            <label for="bambini" class="form-label">Bambini</label>
                            <input type="number" id="bambini" name="bambini" class="form-control" placeholder="Bambini">
                        </div>
                    </div>
                    <div class="row m-3">
                        <button type="submit" class="btn btn-small btn-secondary">Search <i
                            class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>