{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="container">



    <table class="table w-25 h-25">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">D</th>
                <th scope="col">E</th>
                <th scope="col">F</th>
            </tr>
        </thead>
        <tbody id="posti">
        </tbody>
    </table>



    <script>



        let id_volo = '{{volo.id}}';
        id_volo = parseInt(id_volo);

        const API_PREN = 'http://localhost:8000/apiprenotazione/';
        fetch(API_PREN)
            .then(response => response.json())
            .then(data => {
                let posti_prenotati = '';
                for (let x = 0; x < data.length; x++) {
    
                    if (data[x].volo.id == id_volo) {
                        posti_prenotati += data[x].posto.lettera + (data[x].posto.numero).toString() + ',' ;
                        
                    }
                }
    
                posti_prenotati = posti_prenotati.split(',');
                GeneraPosti(id_volo, posti_prenotati);
            })
            .catch(err => console.log(err));









        function GeneraPosti(id_volo, posti_prenotati) {
            const API_VOLI = 'http://localhost:8000/apivolo/';
            fetch(API_VOLI + id_volo)
                .then(response => response.json())
                .then(data => {
                    content = {
                        'posti_primaclasse': data.aircraft.posti_primaclasse,
                        'posti_secondaclasse': data.aircraft.posti_secondaclasse,
                        'posti_economy': data.aircraft.posti_economy,
                        'tot_posti': (data.aircraft.posti_primaclasse + data.aircraft.posti_secondaclasse + data.aircraft.posti_economy),
                        'file': parseInt((data.aircraft.posti_primaclasse + data.aircraft.posti_secondaclasse + data.aircraft.posti_economy)/6)+1,
                    }
                    console.log(content.posti_primaclasse);
                    for (let i = 1; i <= content.file; i++) {
                        document.getElementById('posti').append(Fila(i, content, posti_prenotati));
                    }
                   
                })
                .catch(err => console.log(err));
        }



        function Fila(i, content, posti_prenotati) {
            const node = document.createElement('tr');
            let td = '<th scope="row">' + i + '</th>';
            let lettere = ['A', 'B', 'C', 'D', 'E', 'F'];
            for (let j = 0; j < 6; j++) {
                if (!posti_prenotati.includes(lettere[j] + i.toString())) {
                    if (content.posti_primaclasse != 0) {
                        td += '<td><button id="' + i.toString() + lettere[j] + '" class="btn btn-warning opacity-50 btn-sm" type="button" onclick="scelta(this.id)" name="Prima Classe"><img src="{% static "media/poltrona.png" %}" height=20 width=20></button></td>';
                        content.posti_primaclasse--;
                    }
                    else if (content.posti_secondaclasse != 0) {
                        td += '<td><button id="' + i.toString() + lettere[j] + '" class="btn btn-primary opacity-50 btn-sm"  type="button" onclick="scelta(this.id)" name="Seconda Classe"><img src="{% static "media/poltrona.png" %}" height=20 width=20></button></td>';
                        content.posti_secondaclasse--;
        
                    }
                    else{
                        if(content.posti_economy != 0){
                            td += '<td><button id="' + i.toString() + lettere[j] + '" class="btn btn-secondary opacity-50 btn-sm" type="button" onclick="scelta(this.id)" name="Economy"><img src="{% static "media/poltrona.png" %}" height=20 width=20></button></td>';
                        }                      
                        content.posti_economy--;         
                    }
                }
                else {
                    if (content.posti_primaclasse != 0) {
                        td += '<td><button id="' + i.toString() + lettere[j] + '" class="btn btn-light btn-sm" disabled type="button" onclick="scelta(this.id)" name="Prima Classe"><img src="{% static "media/poltrona.png" %}" height=20 width=20></button></td>';
                        content.posti_primaclasse--;
                    }
                    else if (content.posti_secondaclasse != 0) {
                        td += '<td><button id="' + i.toString() + lettere[j] + '" class="btn btn-light btn-sm" disabled type="button" onclick="scelta(this.id)" name="Seconda Classe"><img src="{% static "media/poltrona.png" %}" height=20 width=20></button></td>';
                        content.posti_secondaclasse--;
                    }
                    else {
                        td += '<td><button id="' + i.toString() + lettere[j] + '" class="btn btn-light btn-sm" disabled type="button" onclick="scelta(this.id)" name="Economy"><img src="{% static "media/poltrona.png" %}" height=20 width=20></button></td>';
                        content.posti_economy--;
                    }
                }

            }
            node.innerHTML = td;
            return node;

        }

        let posti_scelti = [];
        function scelta(id) {

            if (document.getElementById(id).classList.contains('opacity-50')) {
                posti_scelti.push(id);
                document.getElementById(id).classList.remove('opacity-50');
                document.getElementById('posto').innerHTML = id.toString();
                let classe = document.getElementById(id).name;
                document.getElementById('classe').value = classe;
                if (id.length == 3) {
                    document.getElementById('lettera').value = id.toString().substr(-1);
                    document.getElementById('numero').value = id.toString().substr(0, 2);

                } else {
                    document.getElementById('lettera').value = id.toString().substr(-1);
                    document.getElementById('numero').value = id.toString()[0];
                }
            }
            else {
                posti_scelti.pop(id);
                document.getElementById(id).classList.add('opacity-50');
                document.getElementById('lettera').value = '';
                document.getElementById('numero').value = '';
            }
        }





    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>