{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/css/stylesito.css' %}">
    <title>Posti</title>
    <style>
        #modifica:hover,
        #modifica:active {
            background-color: #AACFEF;
            color: grey;
        }

        #modifica {
            border-color: deepskyblue;
            text-decoration: none;
        }

        .cele {
            background: linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
        }
    </style>
</head>

<body class="cele">
    <form method="post" action="{% url 'riepilogo' %}">
        {% csrf_token %}

        <div class="header py-0 times text-secondary" style="background-color: white;">
            <nav class="navbar navbar-expand-sm border">
                <div class="container-fluid">
                    <a href="{% url 'home' %}" class=" d-flex navbar-brand text-decoration-none  align-items-middle">
                        <img src="{% static 'media/logoexmp.jpeg' %}" width="140" height="90" class="">
                        <span class="" id="logo"> Starvato Airlines</span>
                    </a>
                    <h2>{{volo.aeroporto_partenza.city}}</h2><i class="bi bi-arrow-left-right"></i>
                    <h2>{{volo.aeroporto_arrivo.city}}</h2><br>
                    <span>{{scelta}} - {{volo.data_partenza}} - {{adulti}} Adulti</span>
                    <ul class="nav nav-tabs" style="border-bottom: none;">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" id="modifica" href="{% url 'home' %}">Modifica Scelta</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>



        <div class="container m-5" style="width: 90%;">
            <div class="card">
                <h3 class="card-header">Riepilogo Biglietto</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 mb-2">
                            <span>Numero Volo </span> {{volo.code_volo}}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-2 mb-2">
                            <span>Da </span> {{volo.aeroporto_partenza.city}} <span> alle </span> {{volo.ora_partenza}}
                        </div>
                        <div class="col-sm-2 mb-2">
                            <span>A </span> {{volo.aeroporto_arrivo.city}} <span> alle </span> {{volo.ora_arrivo}}
                        </div>
                    </div>
                    <p class="card-text"> <span>Classe </span> {{classe}} - {{adulti}} <span> Adulti</span></p>
                </div>
                <div class="card-footer text-muted">
                    <span>Data </span> {{volo.data_partenza}}<br>
                    <span>Prezzo 25.00$</span>
                </div>
            </div>
        </div>

        <div class="container m-5" style="width: 90%;">
            <div class="card">
                <h3 class="card-header">Scelta Posto</h3>
                <div class="card-body">
                    <div class="row m-3">
                        <div class="col-sm-8">
                            {% block posti %}
                            {% include 'partials/_posti.html' %}
                            {% endblock %}
                        </div>
                        <div class="col-sm-4 times mt-3">
                            <h4 class="mb-3">Legenda: </h4>
                            <ul style="list-style-type:circle ">
                                <li><span class="badge bg-warning mb-3" style="font-size: initial;">Prima Classe</span>
                                </li>
                                <li><span class="badge bg-primary mb-3" style="font-size: initial;">Seconda Classe
                                    </span></li>
                                <li><span class="badge bg-secondary mb-3" style="font-size: initial;">Economy</span>
                                </li>
                                <li><span class="badge bg-light text-dark mb-3" style="font-size: initial;">Già
                                        Prenotato</span></li>
                            </ul>

                            {% for passegero in passegeri %}
                            <div class="mt-5 ">
                                <h5 class="mt-5"><b>Hai scelto il posto n.</b></h5><br>
                                <p class="mt-2" id="posto">

                                </p>
                                <p class="mt-5 d-none">
                                    {{form_posto.lettera}}
                                    {{form_posto.numero}}
                                    {{form_posto.classe}}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="container m-5">
            <div class="card">
                <h3 class="card-header">Dati Passeggero</h3>
                <div class="card-body">

                    <div class="row m-3">
                        <div class="col-sm-4">
                            <label for="name" class="form-label">Name</label>
                            {{form_utente.name}}
                        </div>
                        <div class="col-sm-4">
                            <label for="lastname" class="form-label">Last Name</label>
                            {{form_utente.lastname}}
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-sm-5 ">
                            <label for="email" class="form-label">Email</label>
                            {{form_utente.email}}
                        </div>
                        <div class="col-sm-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            {{form_utente.telefono}}
                        </div>
                        <div class="d-none">
                            <input type="number" value="{{volo.id}}" name="id_volo">
                            <input type="number" value="{{adulti}}" name="adulti">
                            <input type="text" value="{{scelta}}" name="scelta">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container m-5">
            <button class="btn btn-primary" type="submit">Avanti</button>
        </div>

    </form>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>