{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/css/stylesito.css' %}">
    <title>Posti</title>
    <style>
        #modifica:hover,
        #modifica:active {
            background-color: #AACFEF;
            color: grey;
        }

        #modifica {
            border-color: deepskyblue;
            text-decoration: none;
        }

        .cele {
            background: linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
        }
    </style>
</head>

<body class="cele">

    <div class="header py-0 times text-secondary" style="background-color: white;">
        <nav class="navbar navbar-expand-sm border">
            <div class="container-fluid">
                <a href="{% url 'home' %}" class=" d-flex navbar-brand text-decoration-none  align-items-middle">
                    <img src="{% static 'media/logoexmp.jpeg' %}" width="140" height="90" class="">
                    <span class="" id="logo"> Starvato Airlines</span>
                </a>
                <h2>{{volo.aeroporto_partenza.city}}</h2><i class="bi bi-arrow-left-right"></i>
                <h2>{{volo.aeroporto_arrivo.city}}</h2><br>
                <span>{{scelta}} - {{volo.data_partenza}} - {{adulti}} Adulti</span>
                <ul class="nav nav-tabs" style="border-bottom: none;">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" id="modifica" href="{% url 'home' %}">Modifica Scelta</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>



    <div class="container m-5" style="width: 90%;">
        <div class="card">
            <h3 class="card-header">Riepilogo Biglietto</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <span>Numero Volo </span> {{volo.code_volo}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-2 mb-2">
                        <span>Da </span> {{volo.aeroporto_partenza.city}} <span> alle </span> {{volo.ora_partenza}}
                    </div>
                    <div class="col-sm-2 mb-2">
                        <span>A </span> {{volo.aeroporto_arrivo.city}} <span> alle </span> {{volo.ora_arrivo}}
                    </div>
                </div>
                <p class="card-text"> <span>Classe </span> {{classe}} - {{adulti}} <span> Adulti</span></p>
            </div>
            <div class="card-footer text-muted">
                <span>Data </span> {{volo.data_partenza}}<br>
                <span>Prezzo 25.00$</span>
            </div>
        </div>
    </div>

    <div class="container m-5" style="width: 90%;">
        <div class="card">
            <h3 class="card-header">Riepilogo Posto</h3>
            <div class="card-body">
                <div class="row ">
                    <div class="col-sm-12">
                        <span>Posto: </span> {{numero}}{{lettera}} <br>
                        <span>Classe: </span> {{classe}}
                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="container m-5">
        <div class="card">
            <h3 class="card-header">Riepilogo Dati Passeggero</h3>
            <div class="card-body">
                <div class="row m-3">
                    <div class="col-sm-4">
                        <span>Name: {{name}}</span>

                    </div>
                    <div class="col-sm-4">
                        <span>Last Name: {{lastname}}</span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 ">
                        <span>Email: {{email}}</span>
                    </div>
                    <div class="col-sm-4">
                        <span>Telefono: {{telefono}}</span>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container m-5">
        <form method="post" action="{% url 'prenota' %}">
            {% csrf_token %}
            <p class="d-none">
                <input type="text" name="name" value="{{name}}">
                <input type="text" name="lastname" value="{{lastname}}">
                <input type="text" name="email" value="{{email}}">
                <input type="text" name="telefono" value="{{telefono}}">
                <input type="text" name="lettera" value="{{lettera}}">
                <input type="number" name="numero" value="{{numero}}">
                <input type="text" name="classe" value="{{classe}}">
                <input type="number" name="id_volo" value="{{volo.id}}">
                <input type="text" name="scelta" value="{{scelta}}">
                <input type="number" name="adulti" value="{{adulti}}">
            </p>

            <button class="btn btn-primary" type="submit">Prenota</button>
        </form>
    </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>