{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/css/stylesito.css' %}">
    <title>Voli</title>
    <style>
        #modifica:hover,
        #modifica:active {
            background-color: #AACFEF;
            color: grey;
        }

        #modifica {
            border-color: deepskyblue;
            text-decoration: none;
        }

        cele {
            background: linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
        }
    </style>



</head>

<body style="background-color: aliceblue;">

    <div class="header py-0 times text-secondary" style="background-color: white;">
        <nav class="navbar navbar-expand-sm border">
            <div class="container-fluid">
                <a href="{% url 'home' %}" class=" d-flex navbar-brand text-decoration-none  align-items-middle">
                    <img src="{% static 'media/logoexmp.jpeg' %}" width="140" height="90" class="">
                    <span class="" id="logo"> Starvato Airlines</span>
                </a>
                <h2>{{partenza}}</h2><i class="bi bi-arrow-left-right"></i>
                <h2>{{arrivo}}</h2><br>
                <span>{{scelta}} - {{data_andata}} - {{adulti}} Adulti</span>
                <ul class="nav nav-tabs" style="border-bottom: none;">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" id="modifica" href="{% url 'home' %}">Modifica Scelta</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container text-center mt-5">

        <h3>Andata</h3>
        <h4>{{message}}</h4>

    </div>

    {% for volo in voli %}
    <div class="container-fluid  m-5" align="center">
        <div class="row m-3" style="width: 70%;">
            <div class="card text-center">
                <div class="card-header" style="background-color: #AACFEF;">
                    <span>Numero Volo: </span>{{volo.code_volo}} <br>
                    <span>Data: </span> {{volo.data_partenza}}
                </div>
                <div class="card-body">
                    <div class="row text-center m-2">
                        <div class="col-sm-5">
                            <h5 class="card-title"> Da {{volo.aeroporto_partenza}}</h5>
                            <p class="card-text">{{volo.ora_partenza}}</p>
                        </div>
                        <div class="col-sm-5">
                            <h5 class="card-title">A {{volo.aeroporto_arrivo}}</h5>
                            <p class="card-text">{{volo.ora_arrivo}}</p>
                        </div>
                        <div class="col-sm-2">
                            <a href="{% url 'seleziona_posto' volo.id adulti classe scelta %}" class="btn"
                                style="background-color: #AACFEF;">Seleziona</a>
                        </div>
                    </div>
                    <div class="row text-center m-2" id="{{volo.id}}">
                        
                    </div>

                </div>
            </div>
        </div>

    </div>
    {% endfor %}

    {% if scelta == 'Andata e Ritorno' %}

    <hr width="100%" size="3" color="grey" align="center">

    <div class="container text-center mt-5">

        <h3>Ritorno</h3>
        <h4>{{messager}}</h4>

    </div>

    {% for fly in voli_ritorno %}
    <div class="container-fluid  m-5" align="center">
        <div class="row m-3" style="width: 70%;">
            <div class="card text-center">
                <div class="card-header" style="background-color: #AACFEF;">
                    <span>Numero Volo: </span>{{fly.code_volo}} <br>
                    <span>Data: </span> {{fly.data_partenza}}
                </div>
                <div class="card-body">
                    <div class="row text-center m-2">
                        <div class="col-sm-5">
                            <h5 class="card-title"> Da {{fly.aeroporto_partenza}}</h5>
                            <p class="card-text">{{fly.ora_partenza}}</p>
                        </div>
                        <div class="col-sm-5">
                            <h5 class="card-title">A {{fly.aeroporto_arrivo}}</h5>
                            <p class="card-text">{{fly.ora_arrivo}}</p>
                        </div>
                        <div class="col-sm-2">
                            <a href="{% url 'seleziona_posto' fly.id adulti classe scelta  %}" class="btn"
                                style="background-color: #AACFEF;">Seleziona</a>
                        </div>
                    </div>
                    <div class="row text-center m-2" id="{{fly.id}}">
                        
                    </div>

                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    {% endif %}



    {% for volo in voli %}
    <script>
        
        let id_volo = '{{volo.id}}';
        id_volo = parseInt(id_volo);
        let posti_totali = 0;
        let paragrafo = document.getElementById('{{volo.id}}');;
        var API_VOLI = 'http://localhost:8000/apivolo/';
            fetch(API_VOLI + id_volo)
                .then(response => response.json())
                .then(data => {
                    
                    posti_totali = data.aircraft.posti_primaclasse + data.aircraft.posti_secondaclasse + data.aircraft.posti_economy;
                    if(posti_totali == data.posti_prenotati){
                        paragrafo.innerHTML += '<div class="col-sm-12">Non ci sono più posti disponibili per questo volo!</div>';
                        
                    }
                })
                .catch(err => console.log(err));

    </script>
    {% endfor %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>